
<div class="jumbotron">
  <h1 class="display-4"><%= link_to friend.first_name + ' ' + friend.last_name, friend %></h1>
  <p class="lead"><%= friend.email %> | <%= friend.phone %> | <%= friend.twitter %></p>
  <hr class="my-4">
</div>


